<ActionBar class="action-bar">
    <!-- 
    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!-- 
    Use the ActionItem for IOS with position set to left. Using the
    NavigationButton as a side-drawer button in iOS is not possible,
    because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://navigation/menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
        ios.position="left">
    </ActionItem>
    <Label class="action-bar-title" text="Projects"></Label>
</ActionBar>

<GridLayout rows="*">
    <PullToRefresh row="0"  (refresh)="refreshList($event)">
        <ScrollView orientation="vertical" class="main_holder">
            <StackLayout class="list_items_holder" [class.visible]="!isLoading" >
                <!-- >> ngfor-bind-items-html -->
                <StackLayout *ngFor="let project of projectsArray" class="list_items" >
                    <GridLayout class="list_item_holder" rows="40, 20" columns="60, *" (tap)="projectTap(project)" >
                        <StackLayout row="0" col="0" class="list_item__image" rowSpan="2" verticalAlignment="center" horizontalAlignment="center">
                            <Label class="fa" [text]="project.type === 'Google' ? '&#xf1a0;' : '&#xf29c;' "></Label>
                        </StackLayout>
                        <StackLayout row="0" col="1" class="list_item__title" verticalAlignment="top" horizontalAlignment="left">
                            <Label [text]="project.title" textWrap="true" ></Label>
                        </StackLayout>
                        <StackLayout row="1" col="1" class="list_item__date" verticalAlignment="center" horizontalAlignment="left">
                            <Label [text]="project.created_at"></Label>
                        </StackLayout>
                    </GridLayout>
                </StackLayout>
                <!-- << ngfor-bind-items-html -->
            </StackLayout>
        </ScrollView>
    </PullToRefresh>
    <ActivityIndicator [busy]="isLoading" class="activity-indicator" ></ActivityIndicator>
</GridLayout>