<ActionBar class="action-bar">
    <!-- 
    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!-- 
    Use the ActionItem for IOS with position set to left. Using the
    NavigationButton as a side-drawer button in iOS is not possible,
    because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://navigation/menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
        ios.position="left">
    </ActionItem>
    <Label class="action-bar-title" text="Home"></Label>
</ActionBar>

<GridLayout class="home_account_holder" columns="*, *" rows="30, 30, 30, 30" >
    <Label text="{{user?.name}}" row="0" col="0" verticalAlignment="center"></Label>
    <Label text="{{user?.surname}}" row="0" col="1" verticalAlignment="center"></Label>
    <Label text="{{user?.email}}" row="1" colSpan="2" verticalAlignment="center"></Label>
    <Label text="{{user?.phone}}" row="2" colSpan="2" verticalAlignment="center"></Label>
    <Label text="{{user?.timezone}}" row="3" colSpan="2" verticalAlignment="center" (swipe)="onSwipe($event)" ></Label>
</GridLayout>