.home_account_holder {
}
.home_account_holder label {
    padding: 0 10;
    border-width: 1;
    border-color: #ccc;
    color: #222;
    font-size: 18px;
    background-color: aqua;
    height: 30;
    margin: 5 0;
}