.canvas {
    background-color: #ccc;
}

.snakeHead {
    width: 12;
    height: 12;
    background-color: brown;
    border-width: 1;
    border-color: black;
    z-index: 10;
}

.snakePart {
    width: 12;
    height: 12;
    background-color: green;
    border-width: 1;
    border-color: black;
}