.canvas {
    background-color: #ccc;
    background-image: url('res://grass'); 
}

.snakeHead {
  width: 20;
  height: 20;
  z-index: 10;
  background-image: url('res://head');
  background-repeat: no-repeat;
}
.snakeHead.right {
  transform: rotate(-90deg);
}
.snakeHead.left {
  transform: rotate(90deg);
}
.snakeHead.up {
  transform: rotate(180deg);
}
.snakeHead.down {
  transform: rotate(0deg);
}

.snakePart {
    width: 20;
    height: 20;
    background-color: #8FC742;
    border-width: 1;
    border-color: #2e9945;
    border-radius: 10;
}

.food {
  width: 20;
  height: 20;
  background-color: crimson;
}