/* Add mobile styles for the component here.  */
.main_holder {
  padding: 0 5;
}
.list_items_holder {
  opacity: 0;
  background-color: #F7F5F6;
}
.list_items {
  border-width: 1;
  border-color: rgb(226, 226, 226);
  margin-top: 3;
  margin-bottom: 3;
}

.list_item_holder {
  border-color: rgb(235, 235, 235);
  background-color: #fff;
  height: 60;
}
.list_item__image {
  font-size: 35;
  height: 100%;
  width: 100%;
  text-align: center;
  background-color: #238ae6;
  color: #fff;
}
.list_item__title {
  color: #222;
  font-size: 16;
  padding: 0 5;
}
.list_item__date {
  color: #999;
  font-size: 12;
  padding: 0 5;
}


.visible {
  animation-name: show;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
@keyframes show {
  from { opacity: 0; }
  to { opacity: 1; }
}

.activity-indicator {
  width: 100;
  height: 100;
}

/* swiped_action_hold */
.swiped_action_hold {
}

.setting_btn_hold {
  width: 60;
  height: 60;
}

.setting_btn {
  color: #238ae6;
  font-size: 30;
}