/* Add mobile styles for the component here.  */
ListView {
  opacity: 0;
  separator-color: transparent;
}
.visible {
  animation-name: show;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
.list-group {
  height: 100%;
}
.list-item-hold {
  padding: 3 0;
}
.list-item {
  background-color: #009ad4;
  margin: 2.5 15;
  padding: 10 10;
  border-radius: 10;
  border-color: rgba(0,0,0,0.5);
  border-width: 1;
}
.list-item-title {
  background-color: rgba(0,0,0,0.5);
  color: #ffffff;
  font-size: 14;
  padding: 0 5;
  border-radius: 5;
  vertical-align: center;
  height: 22;
  width: 100%;
}
.list-item-date {
  background-color: rgba(0,0,0,0.5);
  color: #ffffff;
  font-size: 10;
  padding: 0 5;
  border-radius: 5;
  vertical-align: center;
  height: 16;
}
.list-item-type {
  background-color: rgba(0,0,0,0.5);
  color: #ffffff;
  font-size: 10;
  padding: 0 5;
  border-radius: 5;
  vertical-align: center;
  height: 16;
}

@keyframes show {
  from { opacity: 0; }
  to { opacity: 1; }
}