<ActionBar class="action-bar">
    <!-- 
    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!-- 
    Use the ActionItem for IOS with position set to left. Using the
    NavigationButton as a side-drawer button in iOS is not possible,
    because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://navigation/menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
        ios.position="left">
    </ActionItem>
    <Label class="action-bar-title" text="Projects"></Label>
</ActionBar>

<StackLayout>
    <ListView class="list-group" [items]="projectsArray" (itemTap)="onItemTap($event)" [class.visible]="listLoaded" >
        <ng-template let-project="item" let-i="index" let-odd="odd" let-even="even" >
            <FlexboxLayout flexDirection="row" class="list-item-hold" >
                <GridLayout class="list-item" rows="22, 22" columns="*, *"   >
                    <StackLayout row="0" col="0" colSpan="2" class="list-item-title" orientation="horizontal" verticalAlignment="center" horizontalAlignment="left">
                        <Label text="Name: " textWrap="true"></Label>
                        <Label [text]="project.title"></Label>
                    </StackLayout>
                    <StackLayout row="1" col="0" class="list-item-date"  verticalAlignment="bottom" horizontalAlignment="left">
                        <Label [text]="project.created_at"></Label>
                    </StackLayout>
                    <StackLayout row="1" col="1" class="list-item-type" verticalAlignment="bottom" horizontalAlignment="right" >
                        <Label [text]="project.type"></Label>
                    </StackLayout>
                </GridLayout>
            </FlexboxLayout>
        </ng-template>
    </ListView>
</StackLayout>

<ActivityIndicator [busy]="isLoading" [visibility]="isLoading ? 'visible' : 'collapse'"
row="1" horizontalAlignment="center" verticalAlignment="center"></ActivityIndicator>