FlexboxLayout {
    justify-content: center;
    align-items: center;
    background-size: cover;
  }
  StackLayout {
    width: 300;
    padding: 10 16;
    background-color: #f0f0f0;
    border-radius: 5;
  }
  
  Image {
    margin-bottom: 20;
    height: 70;
  }
  Button, TextField {
    margin-bottom: 10;
  }
  .btn-primary {
    background-color: #CB1D00;
    margin-left: 0;
    margin-right: 0;
    color: #fff;
  }
  TextField {
    placeholder-color: #C4AFB4;
    color: black;
  }
  .dark {
    background-color: #301217;
  }
  .dark TextField {
    color:  #C4AFB4;
  }

  @keyframes spin {
    from { transform: rotate(0); }
    to { transform: rotate(360); }
}
Image {
    animation-name: spin; 
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}